.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    width: 85%;
    height: 85%;
    border-radius: 30px;
    background-color: white;
    display: flex;
}

.content{
    width: 75%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.title{
    font-size: 22px;
    font-weight: 600;
}


